.backgroundImage{
    background-image: url("../assets/img/AdobeStock_90603827-scaled.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-color: #cccccc; */
}

@media only screen and (min-width: 1050px) {
    .loginWith{
        width: 30%;
    }
}


.loginSection{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #fcfcfc;
}
.logo{
    font-size:30px;
}
.warning{
    color: rgb(224, 36, 36);
    text-align: center;
}
.loginButton{
    padding-left: 5%;
    margin: 100px;
    padding-right: 5%;
}
.signupLine{
    display: block;
}