.backgroundImage{
    background-image: url("https://www.racksolutions.com/news/app/uploads/AdobeStock_90603827-scaled.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-color: #cccccc; */
}
.loginSection{
    width: 40%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #fcfcfc;
}
.logo{
    font-size:30px;
}
.loginButton{
    padding-left: 5%;
    margin: 100px;
    padding-right: 5%;
}
.signupLine{
    display: block;
}